<div class="container-fluid">
  <div class="row fila">
    <div class="col-md-2 col-sm-2  logo text-center">
      <a href="#"><img src="https://http2.mlstatic.com/ui/navigation/4.1.4/mercadolibre/logo__large_plus.png" alt="" class="img-fluid logo"></a>
    </div>
    <div class="col-md-6 col-sm-6">
      <input class="form-control" type="text" placeholder="Buscar Marcas Productos y más...">
      <i class="fa fa-search icon"></i>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
      <a href="#"><img class="img-fluid promo" src="https://http2.mlstatic.com/resources/deals/exhibitors_resources/mlv-menu-desktop-notification-picture-27a03d56-6caf-4c0e-9cd8-48b995934c16.png" alt=""></a>
    </div>
  </div>
</div>
