<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-sm-3 ">
          Trabaja con nosotros
        </div>

        <div class="col-sm-3">
          Términos y condiciones
        </div>

        <div class="col-sm-3">
          Políticas de privacidad
        </div>

        <div class="col-sm-3">
          Ayuda
        </div>
      </div>
      <span>Copyright © 1999-2019 MercadoLibre Venezuela S.R.L. RIF: J-30684267-5.</span>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <span class="float-right descarga"><i class="fa fa-download"></i>¡Descarga gratis la app de Mercado Libre!</span>
    </div>
  </div>
</div>