<div class="container-fluid">
    <div class="row fila">
      <div class="col-md-8 col-sm-12  col-xs-12">
        <ul class="menu">
          <li class="popover__wrapper">
            <a href="" class="">Categorías <i class="fa fa-chevron-down"></i></a>
            <div class="popover__content">
                <ul class="submenu">
                  <li >Tecnología</li>
                  <li >Accesorios Para Vehículos</li>
                  <li >Estética y Belleza</li>
                  <li >Deportes y Aire Libre</li>
                  <li >Hogar y Electrodomésticos</li>
                  <li >Tecnología</li>

                </ul>
            </div>
          </li>
          <li class="principal"><a href="">Tiendas Oficiales</a></li>
          <li class="principal"><a href="">Tu historial</a></li>
          <li class="principal"><a href="">Tus Compras</a></li>
          <li class="principal"><a href="">Vender</a></li>
        </ul>
      </div>
      
      <div class="col-md-4 col-sm-12 col-xs-12">
          <ul class="menu float-right">
              <li><a href="">Crea tu cuenta</a></li>
              <li><a href="">Ingresa</a></li>
              <li><a href="">Ayuda</a></li>
          </ul>
      </div>
    </div>
  </div>
  