<div class="container">
    <div class="row titulo">
        <h3 class="">Descubre</h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row fila">
                <div class="col-sm-6 ">
                    <img src="https://http2.mlstatic.com/optimize/resources/exhibitors/MLV-descubre-licores/206fab30-28bd-11e9-8f79-09806fec095d-home-discovery_desktop.jpg"
                        alt="">
                </div>
                <div class="col-sm-6 d-flex flex-column align-self-center">
                    <span class="t1">LICORES:</span>
                    <span class="t2">DE LA LICORERÍA </span>
                    <span class="t3"><b>A TU CASA</b></span>
                    <button class="btn btn-primary">Ver Más</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row fila">
                <div class="col-sm-6">
                    <img src="https://http2.mlstatic.com/optimize/resources/deals/exhibitors_resources/mlv-home-desktop-discovery-picture-b32f7094-f44b-4a8a-a99a-d9548aaf81b1.jpg"
                        alt="">
                </div>
                <div class="col-sm-6 d-flex flex-column align-self-center">
                    <span class="t1">INMUEBLES:</span>
                    <span class="t2">TU HOGAR</span>
                    <span class="t3"><b>ESTÁ AQUÍ</b></span>
                    <button class="btn btn-primary">Ver Más</button>
                </div>
            </div>
        </div>
    </div>
</div>