<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4 d-flex flex-column align-self-center text-center tab">
      <img src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/ecosystem/buy-heart.svg" alt="">
      <span><b>Compra sin moverte</b></span>
      <p>Encuentra lo que necesitas, y coordina el pago y la entrega con el vendedor. Es fácil y rápido. ¡Todos podemos
        hacerlo!</p>
      <a href="">Cómo comprar en Mercado Libre</a>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 d-flex flex-column align-self-center text-center tab">
      <img src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/ecosystem/shipping.svg" alt="">
      <span><b>Recibe tu producto</b></span>
      <p>Acuerda la entrega de tu compra con el vendedor. Puedes recibirlo en tu casa, en la oficina o retirarlo. ¡Tú decides qué prefieres!</p>
      <a href="">Cómo coordino la entrega</a>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 d-flex flex-column align-self-center text-center tab">
      <img src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/ecosystem/free-sell.svg" alt="">
      <span><b>Vende gratis</b></span>
      <p>Miles de personas quieren lo que ofreces. Publica y verás qué pronto llegan las compras. ¡Tú no pagas nada!</p>
      <a href="">Cómo vender en Mercado Libre</a>
    </div>
  </div>
</div>